<a href="https://colab.research.google.com/github/amnakifayat13/-Grading/blob/main/python_list_methods.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# reverse list by using sort method

In [6]:
my_list = [4,3,2,1,5]
my_list.sort(reverse = True)
print(my_list)

[5, 4, 3, 2, 1]

# get unique numbers in list

In [7]:
numbers = [4,3,5,6,7,4,2,8,2]
unique_numbers = list(set(numbers))
print(unique_numbers)

[2, 3, 4, 5, 6, 7, 8]

# get index numbers with items in list

In [8]:
fruits = ["apple", "banana", "cherry"]
for index, fruit in enumerate(fruits):
    print(index, fruit)

0 apple
1 banana
2 cherry

# iterate two list

In [10]:
names = ["Ali", "Sara", "ahmed"]
ages = [20, 25,  26]
for name, age in zip(names, ages):
    print(f"{name} is {age} years old")

Ali is 20 years old
Sara is 25 years old
ahmed is 26 years old